$blue:    #335e73 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$red-light: #A71027;
$red: #CF112E;
$red-dark: #951024;
$green: #147724;
$yellow: #F5CA6C;

$grey-300: #ECEDEE;

$primary: $red !default;
$secondary: $green !default;

$text: #1F1E1E;
$text-light: #272727;

$background: $grey-300;
$borders: #EDEDED;
$separators: #6d6d6d;
$focus-outline: $primary;

$success: $green !default;
$info:    $cyan !default;
$warning: $yellow !default;
$danger:  $red !default;

$text: #000;
$text-link: #272727;
$text-link-hover: $primary;

$caption-text: #6d6d6d;