///// Font /////
// font family
// (?) Fonts added with wp_enqueue in setup.php (?)
$font1: 'Lato', sans-serif;
$font2: 'Roboto', sans-serif;
$icon: 'icomoon';

///// Font weight /////
$font1-thinner: 400;
$font1-thin: 400;
$font1-normal: 400;
$font1-bold: 700;
$font1-bolder: 900;

$font2-thinner: 400;
$font2-thin: 400;
$font2-normal: 400;
$font2-bold: 700;
$font2-bolder: 700;

///// Icomoon /////
$icomoon-font-path: '../../assets/icomoon/fonts';