$smart-variables: (
  
  
  //||||||||||||||||||||||||||||||||||||||||||||||||||
  // Glboal
  //||||||||||||||||||||||||||||||||||||||||||||||||||
  site-p: (
    base: 20px,
  ),
  container-m: (
    base: 20px,
  ),

  //||||||||||||||||||||||||||||||||||||||||||||||||||
  // Header
  //||||||||||||||||||||||||||||||||||||||||||||||||||
  navbar-h: (
    base: 50px,
    hidemenu: 50px,
  ),
  
  //||||||||||||||||||||||||||||||||||||||||||||||||||
  // Forms
  //||||||||||||||||||||||||||||||||||||||||||||||||||
  input-h: (
    base: 40px,
  ),
  
  
  //||||||||||||||||||||||||||||||||||||||||||||||||||
  // Defaults WordPress
  //||||||||||||||||||||||||||||||||||||||||||||||||||
  admin-bar-h: (
    base: 46px,
    menuwordpressmobile: 32px,
  ),
);