.nav-primary {
  justify-content: flex-end;
  
  .dropdown__subnav {
    background: inherit;
  }
  
  //===== Any level =====//
  .nav-item {
    margin-left: 40px;
    .nav-item__link{
      font: 700 1.4rem $font1;
      text-transform: uppercase;
      @include underline-link-reverse(white,white);
    }

    &.active{
      .nav-item__link{
        background-size: 100% 1px;
      }
    }
  }
  
  //===== 1st level =====//
  > .nav-item {

  }
  
  //===== 2nd level =====//
  .subnav-depth-0 {
    > .nav-item {
      
    }
  }
  
  //===== 3rd level =====//
  .subnav-depth-1 {
    > .nav-item {
      
    }
  }
}
