.wp-block-table{
  overflow: visible;
}

@include __MAX(sm){
  .wp-block-table{
    max-width: 100%;
    overflow-x: auto;
    .has-fixed-layout{
      table-layout: auto;
    }
    table{
      width: auto;

      th, td{
        min-width: 140px;
      }
    }
  }
}